<div *ngIf="loanding" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="question">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="card-header-image"><i class="{{question.icon}} c-blue"></i></div>
      <mat-card-title>{{question.title}}</mat-card-title>
      <mat-card-subtitle>{{question.createdAt | amLocale:'es'  | amTimeAgo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{question.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div class="answer">
      <h3 id="title-answers">Respuestas</h3>
      <ul class="answer-list" *ngIf="question.answer?.length > 0">
          <li *ngFor="let answer of question.answer">
                <h5>{{answer.user.firstName}} {{answer.user.lastName}}
                  <small>{{answer.createdAt | amLocale:'es' | amTimeAgo}}</small>
                </h5>
                <p class="description">
                    {{answer.description}}
                </p>
          </li>
      </ul>
      <p *ngIf="question.answer?.length ===0">
        No existen respuestas para esta pregunta
      </p>
      <app-answer [question]="question"></app-answer>
  </div>
</div>
