<mat-list>
  <mat-list-item [routerLink]="['/questions', question.id]" *ngFor="let question of questions">
    <mat-icon *ngIf="question.icon==''" mat-list-icon>live_help</mat-icon>
    <mat-icon *ngIf="question.icon!=''" mat-list-icon ><i class="{{question.icon}}"></i></mat-icon>
    <h5 mat-line>{{question.title}}</h5>
    <small mat-line class="italic"> {{question.answer.length}} respuestas - {{question.createdAt | amLocale:'es'  | amTimeAgo}} </small>
  </mat-list-item>
</mat-list>
<button mat-fab color="primary" class="add-questins" [routerLink]="['questions','new']">+</button>