/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin:0;
    font-family: 'roboto';
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
}
.c-blue{
    color:#953DAC;
}
.card-header-image {
   font-size:50px; 
}
.full-width{
    width: 100%;
    display: block;
}
.align-center{
    text-align: center;
}